@use "../util/fonts" as font;
@mixin table($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: whitesmoke;
}

.book-cover {
  height: auto;
  width: 50px;
}

.book-title,
.book-author {
  text-decoration: none;
  color: black;
}
